.table th,
.table td {
  padding: 0.5rem;
}

.sorting-arrow {
  visibility: hidden;
}

.table td:hover,
.table th:hover {
  cursor: pointer;
}
.table th:hover {
  .sorting-arrow {
    visibility: visible;
  }
}
